h1 {
    color: rgb(255, 115, 0);

    font-family: roboto;

    text-align: center;
}
.module {
    padding: 1rem;
    background: rgba(236, 234, 234, 0);
}
.module h2 {
    background-color: rgba(23, 23, 18, 0.553);
    margin: -1rem -1rem 1rem -1rem;
    padding: 1rem;
}
.module :last-child {
    margin-bottom: 0;
}

body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    max-width: 400px;
    margin: 2rem auto;
    font-family: "roboto";
}
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #111;
}
.navbar-menu{
  padding: 2rem;
  border-radius: 2rem; color: aqua;
  
}
p {
    border: 1px solid black;
    padding: 1rem;
}

p:first-child {
    margin-bottom: -1rem;
}
.test {
    color: chartreuse;
}
.container {
    margin-top: auto;
    margin-inline: 20px;
}
